body{
    padding: 0;
    margin: 0;
    /* background-color: #ecf0f3; */
    background-image: url(../IMAGES/img13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 100vh;
    margin-right: 100px;
}

.container{
    width: 45%;
    height: 55vh;
    padding: 20px;
    margin-top: 50px;
    background-color:rgb(81, 77, 77);
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
                -12px -12px 20px #706d6d;

}
@media only screen and (max-width: 600px) {
 body {
   background-size: cover;
    
  }
}
@media only screen and (max-width: 1000px) {
    .container {
      margin-top: 450px;
      width:80%;
      height: 300px;
    }
  }
@media only screen and (max-width: 950px) {
  .container {
    margin-top: 450px;
    width:80%;
    height: 380px;
  }
}

@media only screen and (max-width: 500px) {
    .container {
      margin-top: 500px;
      width:90%;
      height: 750px;
    }
  }

.calci #display{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #f2f4f6;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #8a8686;
}
.buttons{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttons .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #9a9191;
                transition:.2s;
}
.buttons .row button:hover{
    box-shadow: inset 5px 5px 8px rgba(29, 24, 24, 0.1),
                inset -5px -5px 5px rgba(16,16,16,.1);
}
#eval{
    background-color: rgb(249, 21, 21);
    
}
#ac{
    background: #5ae648;
}
#ce{
    background: #e13298;
}